openapi: 3.2.0
info:
  title: ShootProof Studio API (Curated Subset) Service Description…
  description: Curated subset of ShootProof's public Studio Panel API, covering the Studios/Brands, Events & Galleries, Photos, Clients (Contacts), Orders, and Contracts resources.
  version: '1.0'
  contact:
    name: ShootProof
    url: https://developer.shootproof.com/
    email: support@shootproof.com
  termsOfService: https://www.shootproof.com/legal/terms-of-use
servers:
- url: https://api.shootproof.com/studio
  description: ShootProof Studio API (production)
security:
- shootProofAuth:
  - studio
tags:
- name: Service Description
  description: Root hypermedia entry point for the API.
paths:
  /:
    get:
      operationId: getServiceDescription
      tags:
      - Service Description
      summary: Get the Studio API service description
      description: Hypermedia root resource; clients follow its links to discover available operations.
      responses:
        '200':
          description: Service description with hypermedia links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HypermediaResource'
components:
  schemas:
    HypermediaResource:
      type: object
      description: HAL-style resource envelope; every response carries a `links` object of link relations.
      properties:
        links:
          type: object
          additionalProperties: true
  securitySchemes:
    shootProofAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.shootproof.com/oauth2/authorization/new
          tokenUrl: https://auth.shootproof.com/oauth2/authorization/token
          refreshUrl: https://auth.shootproof.com/oauth2/authorization/token
          scopes:
            studio: read and write access to your Studio Panel data
            studio.brand.read-only: read access to your Studio Panel Brand data
            studio.info.read-only: read access to your Studio Panel account data
            studio.order.lab-shipment.read-write: read and write access to your Studio Panel Order shipment data
            studio.order.read-write: read and write access to your Studio Panel Order data
